<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

<a href="/">Home</a>
<h2>Add article reference</h2>

<form id="article-form" onsubmit="submitArticleForm()" method="post">
    <div>
        <label>Identifier</label>
        <input type="text" name="identifier" id="identifier"/>
    </div>

    <div>
        <label>Author</label>
        <input type="text" name="author" id="author"/>
    </div>

    <div>
        <label>Title</label>
        <input type="text" name="title" id="title"/>
    </div>

    <div>
        <label>Year</label>
        <input type="text" name="year" id="year"/>
    </div>

    <div>
        <label>Volume</label>
        <input type="text" name="volume" id="volume"/>
    </div>

    <div>
        <label>Journal</label>
        <input type="text" name="journal" id="journal"/>
    </div>

    <div>
        <button type="submit">Submit</button>
    </div>
</form>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="js/post.js"></script>
<script src="js/requests.js"></script>


</body>

</html>
