<!DOCTYPE html>

<html>

<body>

    <a href="/">Home</a>
    <h2>Add book reference</h2>

    <form id="book-form" method="post">
        <div>
            <label>Identifier</label>
            <input type="text" name="identifier" id="identifier"/>
        </div>
        
        <div>
            <label>Author</label>
            <input type="text" name="author" id="author"/>
        </div>
        
        <div>
            <label>Title</label>
            <input type="text" name="title" id="title"/>
        </div>
        
        <div>
            <label>Year</label>
            <input type="text" name="year" id="year"/>
        </div>
        
        <div>
            <label>Publisher</label>
            <input type="text" name="publisher" id="publisher"/>
        </div>
        
        <div>
            <button type="submit" onclick="submitBookForm()">Submit</button>
        </div>
    </form>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="js/post.js"></script>
    <script src="js/requests.js"></script>
</body>

</html>
