<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Reference Management</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<form method="POST" th:action="@{/reference}">
    <label>Identifier</label>
    <input type="text" name="identifier" />

    <label>Author</label>
    <input type="text" name="author" />

    <label>Title</label>
    <input type="text" name="title" />

    <label>Year</label>
    <input type="text" name="year" />

    <label>Publisher</label>
    <input type="text" name="publisher" />

    <button type="submit">Submit</button>
</form>

</body>

</html>