<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Reference Management</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    </head>


    <body>
        <h1> Reference Management </h1>
        <ul class="nav nav-tabs">
            <li>
                <a href="/book">New book</a> 
            </li>
            <li>
                <a href="/article">New article</a>
            </li>
            <li>
                <a href="/inproceedings">New inproceedings</a>
            </li>
        </ul>
        
        <h2>
            <a href="/reference">View references</a>
        </h2>
        
        
        <h3>
            <a href="/reference/file">Download BibTeX file</a>
        </h3>

        <!--<div th:replace="book-form :: form"></div>-->
        <!--<div th:replace="article-form :: form"></div>-->
        <!--<div th:replace="inproceedings-form :: form"></div>-->

    </body>

</html>

