<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="form">
    <h2>Add incproceedings reference</h2>

    <form id="form" onsubmit="submitInproceedingsForm()">
        <div>
            <label>Identifier</label>
            <input type="text" name="identifier" id="identifier"/>
        </div>

        <div>
            <label>Author</label>
            <input type="text" name="author" id="author"/>
        </div>

        <div>
            <label>Title</label>
            <input type="text" name="title" id="title"/>
        </div>

        <div>
            <label>Year</label>
            <input type="text" name="year" id="year"/>
        </div>
        
        <div>
            <label>Book title</label>
            <input type="text" name="booktitle" id="booktitle"/>
        </div>

        <div>
            <button type="submit">Submit</button>
        </div>
    </form>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script>

        function submitInproceedingsForm() {
            var formData = buildJSONRequest();

            $.ajax({
                type: 'POST',
                url: '/reference',
                data: formData,
                contentType: 'application/json'
            });
        }

        function buildJSONRequest() {
            var body = {
                type: 'inproceedings',
                identifier: $('#identifier').val(),
                attributes: [
                    {key: "author", value: $('#author').val()},
                    {key: "title", value: $('#title').val()},
                    {key: "booktitle", value: $('#booktitle').val()},
                    {key: "year", value: $('#year').val()}
                ]
            };

            return JSON.stringify(body);
        }

    </script>
</div>

</body>

</html>
