<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8"></meta>
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
</head>

<body>

<div class="container">

    <a href="/">Home</a>

    <h2>References</h2>

    <ul class="list-group"></ul>


</div>


<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script>
<script>

    $(document).ready(function () {
        $.ajax({
            type: 'GET',
            url: '/reference/list',
            contentType: 'application/json',
            success: renderResponse
        });
    });

    function renderResponse(response) {
        response.map(function (item) {
            var id = _.escape(item.id);
            var type = _.escape(item.type);
            var identifier = _.escape(item.identifier);

            var liElement = '<li id="' + id +'" class="list-group-item"></li>';
            var heading = '<h4 class="list-group-heading">' + type + ' | ' + identifier + '</h4>';

            $('.list-group').append(liElement);
            $('#' + id).append(heading);

            item.attributes.map((function (attribute) {
                var key = _.escape(attribute.key);
                var value = _.escape(attribute.value);

                var attributes = '<p>' + key + ' : ' + value + '</p>';

                $('#' + id).append(attributes);
            }));
        });
    }

</script>
</body>
</html>
